# Ignore Google OAuth credentials
client_secret_*.json
musiqhub-dashboard-access.json
.streamlit/secrets.toml

# Mac system files
.DS_Store

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/

# Misc
*.log